# DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiNWUzNjllNTUtNzkzYy00OTFhLWJkMmMtNGFlNjRhOWExNjkwIiwidGVuYW50X2lkIjoiZDJhOTJmNjkzODFmMjkxODhkNTc3NGE0NjVlOGY3NTJlZTg3Y2U0OTMxNmRjOTU1NmM0OGEwMTNjOWU4MmFhOCIsImludGVybmFsX3NlY3JldCI6IjI0OTU3NTk0LTUwZmQtNDQ3ZC04NzY0LTI3MTNlNjIzNmNhYiJ9.05FUXgcY2Xuwd5ltFe6IQOp7_is6y1MgY-RJAJAekrg"
# PULSE_API_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiNWUzNjllNTUtNzkzYy00OTFhLWJkMmMtNGFlNjRhOWExNjkwIiwidGVuYW50X2lkIjoiZDJhOTJmNjkzODFmMjkxODhkNTc3NGE0NjVlOGY3NTJlZTg3Y2U0OTMxNmRjOTU1NmM0OGEwMTNjOWU4MmFhOCIsImludGVybmFsX3NlY3JldCI6IjI0OTU3NTk0LTUwZmQtNDQ3ZC04NzY0LTI3MTNlNjIzNmNhYiJ9.05FUXgcY2Xuwd5ltFe6IQOp7_is6y1MgY-RJAJAekrg"
